body, html	{
	
	background-repeat: no-repeat;
    height:auto;
    width: 100%;
    
    background-color: Linen;
    
  }

.ml12 {
  font-weight: 200;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-left: 11%;
  position: absolute;
  left: 25%;
  top: 0%;
  color: Navy;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  margin-top: 7%;
  width: 47.95%;
  margin-left: 32%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: Navy;
  opacity: .5;
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-top: 7%;
}

/* Clearfix (clear floats) */
.row {
  content: "";
  clear: both;
  display: table;
 
  margin-left: 11%;
}

  .vertical_menu {
	text-align: center;
	color: white;
	position: fixed;
	top:0px;
	
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

	display: inline-block;
	line-height: 2em;
	font-size: 1.25vw; 

    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */

    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}



.EE108	{
	 text-align: center;
  position: absolute;
  top:100%;
  font-size: 1.75vw; 
  left: 15%;
  text-align: center;
  width:80%;
  opacity:0.75;
}


.Contact-Me {
  text-align: center;
  position: absolute;
  font-family: veronda;
  font-size: 1.75vw;
  top:155%;
  left:5%;
  margin-left: 11%;
  width:70%;
  /*height:300px;*/
  padding:10px;
  opacity:0.75;
}

.Contact-Info {
  font-family: veronda;
  font-size: 1.75vw;
  opacity:0.75;
}




.facebook {
  position:absolute;
  top:205%;
  left:30%;
}
.github {
  position: absolute;
  top:205%;
  left:30%;
}
.linkedin {
  position:absolute;
  top: 205%;
  left:65%;
}
.site {
  position: absolute;
  top:215%;
  left:35%;
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

}

.open_source_code {
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

  position:absolute;
  top:220%;
  left:55%;
}