body, html  {
  
  background-repeat: no-repeat;
    height:auto;
    width: 100%;
    
    background-color: Linen;
    
  }

.ml12 {
  font-weight: 200;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-left: 11%;
  position: absolute;
  left: 25%;
  top: 0%;
  color: Navy;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}


.topnav {
  background-color: #333;
  overflow: hidden;
  margin-top: 7%;
  width: 75.81%;
  margin-left: 17%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: Navy;
  opacity: .5;
  color: white;
}
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 1.75vw;
    margin-top: 5%;
    display: inline-block;
    font-weight: bold;
    background-color: #333;
    margin-left: 22.75%;
    color : Linen;
    padding: 5px;
    font-family: veronda;
}

.trigger_popup_fricc:hover {
  opacity: .5;
}

  .vertical_menu {
  text-align: center;
  color: white;
  position: fixed;
  top:0px;
  
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

  display: inline-block;
  line-height: 2em;
  font-size: 1.25vw; 

    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */

    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}

.w3-row   {
  padding-left: -20px;
}

.mySlides {

  margin-left: 10%;
  right: 5%;
  
  width: 94%;

}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {

  float: left;
  width: 33.33%;
  padding: 5px;
}


.row {
  display: flex;
  padding-left: 16%;

}
.Contact-Me {
  text-align: center;
  position: absolute;
  font-family: veronda;
  font-size: 1.75vw;
  top:170%;
  left:8%;
  margin-left: 11%;
  width:70%;
  /*height:300px;*/
  padding:10px;
  opacity:0.75;
}

.Contact-Info {
  font-family: veronda;
  font-size: 1.75vw;
  opacity:0.75;
}




.facebook {
  position:absolute;
  top:195%;
  left:30%;
}
.github {
  position: absolute;
  top:205%;
  left:35%;
}
.linkedin {
  position:absolute;
  top: 205%;
  left:70%;
}
.site {
  position: absolute;
  top:215%;
  left:40%;
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

}

.open_source_code {
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

  position:absolute;
  top:217.5%;
  left:55%;
}