body, html	{
	
	background-repeat: no-repeat;
    height:auto;
    width: 100%;
    
    background-color: Linen;
    
  }

.ml12 {
  font-weight: 200;
  font-size: 2.7vw;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-left: 11%;
  position: absolute;
  left: 22%;
  top: 0%;
  color: Navy;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  margin-top: 7%;
  width: 49.75%;
  margin-left: 30%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2% 1.45%;
  text-decoration: none;
  font-size: 1.18vw;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: Navy;
  opacity: .5;
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-top: 7%;
}

/* Clearfix (clear floats) */
.row {
  content: "";
  clear: both;
  display: table;
 
  margin-left: 11%;
}

  .vertical_menu {
	text-align: center;
	color: white;
	position: fixed;
	top:0px;
	
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

	display: inline-block;
	line-height: 2em;
	font-size: 1.25vw; 

    padding: 11%; /* Add some padding */
    text-decoration: none; /* Remove underline from links */

    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}



.human_engineers	{
   text-align: center;
  position: relative;
  top:200%;
  font-size: 1.75vw; 
  left: 15%;
  text-align: center;
  width:80%;
  opacity:0.75; 
	
}


.all  {
  position: relative;
}


.Contact-Me {
  text-align: center;
  position: relative;
  font-family: veronda;
  font-size: 2.1vw;
  top:170%;
  left:8%;
  margin-left: 11%;
  width:70%;
  margin-top: 15%;
 
  
}






.cont_img_1   {
  width: 150%;
  
}
.cont_img_2   {
  width: 100%;
  
}
.github {
  position: absolute;
  top:110%;
  left:40%;
  
}
.linkedin {
  position:absolute;
  top: 110%;
  left:60%;
  
}
.site {
  position: absolute;
  top:140%;
  left:40%;
  opacity:0.75;
  font-family: veronda;
  font-size: 1.3vw;

  

}

.open_source_code {
  opacity:0.75;
  font-family: veronda;
  font-size: 1.3vw;

  position:absolute;
  top:152%;
  left:55%;
}

