body, html	{
	
	background-repeat: no-repeat;
    height:auto;
    width: 100%;
    
    background-color: Linen;
    
  }

.ml12 {
  font-weight: 200;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-left: 11%;
  position: absolute;
  left: 27%;
  top: 0%;
  color: Navy;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  margin-top: 7%;
  width: 47.95%;
  margin-left: 32%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: Navy;
  opacity: .5;
  color: white;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-top: 7%;
}

/* Clearfix (clear floats) */
.row {
  content: "";
  clear: both;
  display: table;
 
  margin-left: 11%;
}

  .vertical_menu {
	text-align: center;
	color: white;
	position: fixed;
	top:0%;

	
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

	display: inline-block;
	line-height: 2em;
	font-size: 1.25vw; 

    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */

    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}




.Mechatronics	{
	text-align: center;
	position: absolute;
	top:90%;
	font-size: 5vw;	
	left: 11%;
	text-align: center;
	width:80%;
	opacity:0.75;	
}



.Mechatronics_description	{

	font-size: 1.75vw;
	position: absolute;
	left:7%;
	
}

.link {
  position:absolute;

  top:150%;
  left:8%;
  margin-left: 11%;
  text-align: center;
  
  width:70%;
  height:150px;
}
.linkButton {


  
  
  background-color:Navy;
  
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  border:1px solid #337bc4;
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:12px 44px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.linkButton:hover {
    background-color: Navy;
    opacity: .7;
    

  
}
.linkButton:active  {
  position:relative;
  top:1px;
}



.Contact-Me {
  text-align: center;
  position: absolute;
  font-family: veronda;
  font-size: 1.75vw;
  top:175%;
  left:8%;
  margin-left: 11%;
  width:70%;
  /*height:300px;*/
  padding:10px;
  opacity:0.75;
}

.Contact-Info {
  font-family: veronda;
  font-size: 1.75vw;
  opacity:0.75;
}




.facebook {
  position:absolute;
  top:205%;
  left:30%;
}
.github {
  position: absolute;
  top:205%;
  left:35%;
}
.linkedin {
  position:absolute;
  top: 205%;
  left:70%;
}
.site {
  position: absolute;
  top:215%;
  left:40%;
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

}

.open_source_code {
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

  position:absolute;
  top:217.5%;
  left:55%;
}

