

body, html	{
	
	background-repeat: no-repeat;
    height:auto;
    width: 100%;
    background-size: 100% auto;
    background-attachment: fixed;
 
    background-color: Linen;
    
  }

  .my_image	{

  	height: 105%;
  	position: absolute;
  	top:0%;
  	width: 100%;

  }

  .Container{
    width: 100%;
    height: auto;
  }
  .vertical_menu {
	text-align: center;
	color: white;
	position: fixed;
	top:0px;
	
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

	display: inline-block;
	line-height: 2em;
	font-size: 1.25vw; 

    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}

.ml1 {
  font-weight: 900;
  font-size: 6vw;
  color: Navy;
  position:absolute;
  margin-left: 11%;
  left:23%;
  top:60%;
  font-family: broadway;
}

.ml1 .letter {
  
  display: inline-block;
  line-height: 50%;

}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 5%;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { 
	top: 0; 
}
.ml1 .line2 { 
	bottom: 0; 
}
	


.About-Me	{
	position:absolute;
	
	font-size: 5vw;
	top:250%;
	left: 4%;
	text-align: center;
	/*margin-right:11%;*/
	margin-left:11%;
	
	
	height:200%;
	width:80%;
	/*background-color: linen;*/
	opacity:0.75;
}


.slide_show	{
	position : absolute;
	top: 130%;
	left: 11%;
	margin-left: 11%;
	

}
.About-Me-Description	{
	position: absolute;
	top:3%;
    font-family: veronda;
    font-size: 1.75vw;

}
.mySlides 	{
	top: 25%;
	display: none;
	/*width: 100%;*/
	height:10%;
	background-color: linen;
	opacity: 1;
	position:absolute;

}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;


}
.w3-badge {
	height:13px;
	width:13px;
	padding:0;

}


.rectangle_1	{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 5%;
	background-color: black;
	opacity: 0.5;
}






.Contact-Me	{
	text-align: center;
	position: absolute;
	font-family: veronda;
	font-size: 1.75vw;
	top:375%;
	left:8%;
	margin-left: 11%;
	width:70%;
	/*height:300px;*/
	padding:10px;
	opacity:0.75;
}

.Contact-Info	{
	font-family: veronda;
	font-size: 1.75vw;
	opacity:0.75;
}




.facebook	{
	position:absolute;
	top:410%;
	left:30%;
}
.github	{
	position: absolute;
	top:410%;
	left:35%;
}
.linkedin	{
	position:absolute;
	top: 410%;
	left:70%;
}
.site	{
	position: absolute;
	top:420%;
	left:40%;
	opacity:0.75;
	font-family: veronda;
	font-size: 1.25vw;

}

.open_source_code	{
	opacity:0.75;
	font-family: veronda;
	font-size: 1.25vw;

	position:absolute;
	top:422.5%;
	left:55%;
}






