

body, html	{
	
	background-repeat: no-repeat;
    height:auto;
    width: 100%;
    background-size: 100% auto;
    background-attachment: fixed;
    /*background-position: center right;*/
    background-image: url("Presentation1.jpg");
    background-color: Linen;
    
  }

  .Container{
    width: 100%;
    height: auto;
  }
  .vertical_menu {
	text-align: center;
	color: white;
	position: fixed;
	top:0px;
	
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

	display: inline-block;
	line-height: 2em;
	font-size: 1.25vw; 
   /* font-family: sans-serif;
    color: white;
   /* display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}

.ml1 {
  font-weight: 900;
  font-size: 6vw;
  color: Navy;
  position:absolute;
  margin-left: 11%;
  left:20%;
  top:60%;
  font-family: broadway;
}

.ml1 .letter {
  display: inline-block;
  line-height: 50%;

}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 5%;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { 
	top: 0; 
}
.ml1 .line2 { 
	bottom: 0; 
}
	

.About-Me	{
	position:absolute;
	font-family: sans-serif;
	top:1150px;
	left:9%;
	text-align: center;
	/*margin-right:11%;*/
	margin-left:11%;
	border: 5px dashed Navy;
	padding: 10px;
	height:1300px;
	width:70%;
}

.About-Me-Description	{
	position: absolute;
	top:700px;
	margin-right: 100px;
	margin-left:100px;
    font-family: sans-serif;
}
.mySlides	{
	display: none;
	width: 870px;
	height:600px;
	border: 10px solid black;

}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
}
.w3-badge {
	height:13px;
	width:13px;
	padding:0;
}

.rectangle_1	{
	position: absolute;
	top: 100%;
	left:11%;
	width: 100%;
	height: 20px;
	background-color: black;
	opacity: 0.5;
}



.Resume	{
	position:absolute;
	font-family: lucida calligraphy;
	top:2695px;
	left:8%;
	margin-left: 11%;
	text-align: center;
	border: 5px dashed Navy;
	width:70%;
	height:150px;
}
.resumeButton	{


	
	
	background-color:Navy;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.resumeButton:hover {
    background-color: Navy;
    opacity: 0.7;

	
}
.resumeButton:active	{
	position:relative;
	top:1px;
}




.Projects	{
	text-align: center;
	position: absolute;
	font-family: lucida calligraphy;
	top:3090px;
	left:8%;
	margin-left: 11%;
	border: 5px dashed Navy;
	width: 70%;
	height:1820px;
	padding:10px;
}
.Projects-Pictures	{
	width:800px;
}

.Projects-Description	{
	font-family: sans-serif;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
}




.Contact-Me	{
	text-align: center;
	position: absolute;
	font-family: lucida calligraphy;
	top:5157px;
	left:8%;
	margin-left: 11%;
	border:5px dashed Navy;
	width:70%;
	height:300px;
	padding:10px;
}

.Contact-Info	{
	font-family: sans-serif;
}




.facebook	{
	position:absolute;
	top:5600px;
	left:550px;
}
.github	{
	position: absolute;
	top:5600px;
	left:550px;
}
.linkedin	{
	position:absolute;
	top: 5600px;
	left:800px;
}
.site	{
	position: absolute;
	top:5700px;
	left:600px;

}

.open_source_code	{
	font-family: sans-serif;
	position:absolute;
	top:5714px;
	left:820px;
}






