
body, html	{
	
	background-repeat: no-repeat;
    height:auto;
    width: 100%;
    
    background-color: Linen;
    
  }

.ml12 {
  font-weight: 200;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-left: 11%;
  position: absolute;
  left: 15%;
  top: 0%;
  color: Navy;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  margin-top: 7%;
  width: 47.95%;
  margin-left: 32%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: Navy;
  opacity: .5;
  color: white;
}


  .vertical_menu {
	text-align: center;
	color: white;
	position: fixed;
	top:0px;
	
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

	display: inline-block;
	line-height: 2em;
	font-size: 1.25vw; 

    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */

    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}




.Mechatronics	{
	text-align: center;
	position: absolute;
	top:200%;

	font-size: 5vw;
	
	left: 11%;
	text-align: center;
	/*margin-right:11%;*/
	
	
	
	height:200%;
	width:80%;
	/*background-color: linen;*/
	opacity:0.75;
	
	
	
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  padding-left: 24%;
  padding-right :13%;
  
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
  padding-top: 10%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
 
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


.mechatronics_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_mechatronics	{
	position: relative;
}
.middle_mechatronics {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_mechatronics:hover .mechatronics_image {
  opacity: 0.3;
}

.container_mechatronics:hover .middle_mechatronics {
  opacity: 1;
}

.mechatronicsButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }
 

.human_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_human {
  position: relative;
}
.middle_human {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_human:hover .human_image {
  opacity: 0.3;
}

.container_human:hover .middle_human {
  opacity: 1;
}

.humanButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }



 

.EE108_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_EE108	{
	position: relative;
}
.middle_EE108 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_EE108:hover .EE108_image {
  opacity: 0.3;
}

.container_EE108:hover .middle_EE108 {
  opacity: 1;
}

.EE108Button {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }

.last_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_last	{
	position: relative;
}
.middle_last {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_last:hover .last_image {
  opacity: 0.3;
}

.container_last:hover .middle_last {
  opacity: 1;
}

.lastButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }


.Mechatronics_description	{

	font-size: 1.75vw;
	position: absolute;
	left:7%;
	
}
.human_engineers	{
	text-align: center;
	position: absolute;
	/*margin-top: 15%;*/
	font-family: lucida calligraphy;
	
	width: 70%;
	
	top: 600%;
	
}

.EE108	{
	top:600%;
	position: absolute;
}


.Contact-Me {
  text-align: center;
  position: absolute;
  font-family: veronda;
  font-size: 1.75vw;
  top:145%;
  left:8%;
  margin-left: 11%;
  width:70%;
  /*height:300px;*/
  padding:10px;
  opacity:0.75;
}

.Contact-Info {
  font-family: veronda;
  font-size: 1.75vw;
  opacity:0.75;
}




.facebook {
  position:absolute;
  top:170%;
  left:30%;
}
.github {
  position: absolute;
  top:180%;
  left:35%;
}
.linkedin {
  position:absolute;
  top: 180%;
  left:70%;
}
.site {
  position: absolute;
  top:190%;
  left:40%;
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

}

.open_source_code {
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

  position:absolute;
  top:192.5%;
  left:55%;
}

