
body, html	{
	
	background-repeat: no-repeat;
    height:auto;
    width: 100%;
    
    background-color: Linen;
    
  }

.ml12 {
  font-weight: 200;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-left: 11%;
  position: absolute;
  left: 15%;
  top: 5%;
  color: Navy;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

  .vertical_menu {
	text-align: center;
	color: white;
	position: fixed;
	top:0px;
	
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

	display: inline-block;
	line-height: 2em;
   /* font-family: sans-serif;
    color: white;
   /* display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}

.Projects{
	margin-top: 10%;
	/*text-align: center;*/
	position: absolute;
	margin-top: 15%;
	/*font-family: lucida calligraphy;*/
	/*left:8%;8*/
	margin-left: 11%;
	width: 85%;
}

/*.Projects	{
	text-align: center;
	position: absolute;
	margin-top: 15%;
	font-family: lucida calligraphy;
	top:40%;
	left:8%;
	margin-left: 11%;
	/*border: 5px dashed Navy;
	width: 70%;
	/*height:1820px;
	padding:10px;
}
.Projects-Pictures	{
	width:800px;
}

.Projects-Description	{
	font-family: sans-serif;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
}
*/
.Mechatronics	{
	text-align: center;
	position: absolute;
	/*margin-top: 15%;*/
	/*font-family: lucida calligraphy;
	/*top:10%;*/
	/*left:8%;*/
	/*margin-left: 11%;
	top: 40%;
	/*border: 5px dashed Navy;*/
	/*width: 70%;*/
	height:auto;
	padding:10px;
	border: 5px;
}
.Mechatronics_description	{

	font-family: lucida calligraphy;
	font-size: 30px;
}
.human_engineers	{
	text-align: center;
	position: absolute;
	/*margin-top: 15%;*/
	font-family: lucida calligraphy;
	/*top:10%;*/
	
	
	/*border: 5px dashed Navy;*/
	width: 70%;
	height:auto;
	padding:10px;
	top: 90%;
	border: 5px;
}

.launcher_pic	{
	margin-left: 11%;
	width: 31%;
	padding: 20px;
/*	width: 10px;
*/}



.cad_pic	{
	width: 49%;
	padding: 20px;
}

.circuit_pic	{
	width: 40%;
	padding: 20px;
}


.human_engineers_pic	{
	width: 30%;
}