body, html  {
  
  background-repeat: no-repeat;
    height:auto;
    width: 100%;
    
    background-color: Linen;
    
  }

.ml12 {
  font-weight: 200;
  font-size: 2.7vw;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-left: 11%;
  position: absolute;
  left: 35%;
  top: 0%;
  color: Navy;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

  .vertical_menu {
  text-align: center;
  color: white;
  position: fixed;
  top:0px;
  
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

  display: inline-block;
  line-height: 2em;
  font-size: 1.25vw; 

    padding: 11%; /* Add some padding */
    text-decoration: none; /* Remove underline from links */

    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}


.Resume	{
	position:relative;
	font-family: veronda;
	font-size: 1.5vw;
	top:25%;
	left:5%;
	margin-left: 11%;
	text-align: left;
	
	width:80%;
	
}

.h 	{
	font-size : 2.3vw;
}
.resumeButton	{


	position: relative;
	margin-top: 5%;
	margin-left: 74%;
	background-color:Navy;
	-moz-border-radius:1%;
	-webkit-border-radius:1%;
	border-radius:1%;
	border:1% solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:veronda;
	font-size:1.25vw;
	font-weight:bold;
	padding:1% 2%;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.resumeButton:hover {
    background-color: Navy;
    opacity: 0.7;

	
}
.resumeButton:active	{
	position:relative;
	
}


.all{
  position: relative;
}

.Contact-Me {
  text-align: center;
  position: relative;
  font-family: veronda;
  font-size: 2.1vw;
  top:170%;
  left:8%;
  margin-left: 11%;
  width:70%;
  margin-top: 15%;
 
  
}






.cont_img_1   {
  width: 150%;
  
}
.cont_img_2   {
  width: 100%;
  
}
.github {
  position: absolute;
  top:110%;
  left:40%;
  
}
.linkedin {
  position:absolute;
  top: 110%;
  left:60%;
  
}
.site {
  position: absolute;
  top:140%;
  left:40%;
  opacity:0.75;
  font-family: veronda;
  font-size: 1.3vw;

  

}

.open_source_code {
  opacity:0.75;
  font-family: veronda;
  font-size: 1.3vw;

  position:absolute;
  top:152%;
  left:55%;
}

