
body	{
	
	background-repeat: no-repeat;
    height:5000px;
    background-image: linear-gradient(to bottom, transparent 0%, Linen 100%), url('Presentation1.jpg');
    background-position: 0px 300px, 0px 0px;
  }
	

.top-page	{
	text-align: center;
	font-size: 40pt;
    font-family: broadway;
	color: Navy;
	position: absolute;
	top:0px;
	left:250px;


}
.rock{
	position:absolute;
	top:400px;
	left:40px;
    border: 5px solid black;
}
.horse{
	position:absolute;
	top:300px;
	left:420px;
    border: 5px solid black;
}
.lsp{
	position: absolute;
	top:100px;
	left:40px;
	border: 5px solid black;
}
.salsa	{
	position: absolute;
	top:100px;
	left:420px;
	border: 5px solid black;
}

.centro{
	position:absolute;
	top:1050px;
	left:40px;
	border: 5px solid black;
}
.surf	{
	position:absolute;
	top:840px;
	left:420px;
	border: 5px solid black;
}
.sky	{
	position:absolute;
	top:800px;
	left:40px;
	border: 5px solid black;
}
.vertical_line_1	{
  border-left: 5px dashed Navy;
  position:absolute;
  height:250px;
  top:900px;
  left:725px;
} 

a 	{
	font-family: bodoni MT;
}

.vertical_line_2	{
  border-left: 5px dashed Navy;
  position:absolute;
  height:250px;
  top:3230px;
  left:725px;
} 
.vertical_line_3	{
  border-left: 5px dashed Navy;
  position:absolute;
  height:250px;
  top:3635px;
  left:725px;
} 
.vertical_line_4{
  border-left: 5px dashed Navy;
  position:absolute;
  height:250px;
  top:2530px;
  left:700px;
} 
.vertical_line_5	{
  border-left: 5px dashed Navy;
  position:absolute;
  height:250px;
  top:4210px;
  left:725px;
} 
.about-me	{
	position:absolute;
	font-family: lucida calligraphy;
	top:1150px;
	left:170px;
	text-align: center;
	margin-right:100px;
	margin-left:100px;
	border: 5px dashed Navy;
	padding: 10px;
	height:2050px;
	width:900px;
}
.description	{
	position: absolute;
	top:1650px;
	margin-right: 100px;
	margin-left:100px;

}

.Resume1{
	position:absolute;
		font-family: lucida calligraphy;
	top:3475px;
	left:270px;
	text-align: center;
	border: 5px dashed Navy;
	width:920px;
	height:150px;
}

.rectangle1{
	position: absolute;
	top: 700px;
	left:0px;
	width: 1263px;
	height: 20px;
	background-color: black;
	opacity: 0.5;
}

.Projects	{
	text-align: center;
	position: absolute;
		font-family: lucida calligraphy;
	top:3880px;
	left:270px;
	border: 5px dashed Navy;
	width: 900px;
	height:300px;
	padding:10px;
}

.Contact-Me	{
	text-align: center;
	position: absolute;
		font-family: lucida calligraphy;
	top:4457px;
	left:270px;
	border:5px dashed Navy;
	width:900px;
	height:300px;
	padding:10px;
}

.vertical-menu {
	text-align: center;
	color: white;
	position: fixed;
	top:0px;
	
    width: 200px; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:800px;
}

.vertical-menu a {
    
    color: white;
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    
}

.vertical-menu a:hover {
    background-color: Navy;
    opacity:0.5;
}

.resumeButton	{


	
	
	background-color:Navy;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.resumeButton:hover {
    background-color: Navy;
    opacity: 0.7;

	
}
.resumeButton:active	{
	position:relative;
	top:1px;
}
.facebook	{
	position:absolute;
	top:4900px;
	left:550px;
}
.github	{
	position: absolute;
	top:4900px;
	left:700px;
}
.linkedin	{
	position:absolute;
	top: 4900px;
	left:900px;
}

