body, html  {
  
  background-repeat: no-repeat;
    height:auto;
    width: 100%;
    
    background-color: Linen;
    
  }

.ml12 {
  font-weight: 200;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-left: 11%;
  position: absolute;
  left: 15%;
  top: 0%;
  color: Navy;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

  .vertical_menu {
  text-align: center;
  color: white;
  position: fixed;
  top:0px;
  
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

  display: inline-block;
  line-height: 2em;
  font-size: 1.25vw; 

    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */

    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}


.topnav {
  background-color: #333;
  overflow: hidden;
  margin-top: 7%;
  width: 76%;
  margin-left: 17%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: Navy;
  opacity: .5;
  color: white;
}



.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  padding-left: 11%;

  
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
  padding-top: 10%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
 
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.car_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_car {
  position: relative;
}
.middle_car {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_car:hover .car_image {
  opacity: 0.3;
}

.container_car:hover .middle_car {
  opacity: 1;
}

.carButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }
 



.salsa_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_salsa  {
  position: relative;
}
.middle_salsa {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_salsa:hover .salsa_image {
  opacity: 0.3;
}

.container_salsa:hover .middle_salsa {
  opacity: 1;
}

.salsaButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }
 

.horse_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_horse  {
  position: relative;
}
.middle_horse {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_horse:hover .horse_image {
  opacity: 0.3;
}

.container_horse:hover .middle_horse {
  opacity: 1;
}

.horseButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }

.reynis_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_reynis {
  position: relative;
}
.middle_reynis {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_reynis:hover .reynis_image {
  opacity: 0.3;
}

.container_reynis:hover .middle_reynis {
  opacity: 1;
}

.reynisButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }

.plant_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_plant  {
  position: relative;
}
.middle_plant {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_plant:hover .plant_image {
  opacity: 0.3;
}

.container_plant:hover .middle_plant {
  opacity: 1;
}

.plantButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }

.flea_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_flea {
  position: relative;
}
.middle_flea {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_flea:hover .flea_image {
  opacity: 0.3;
}

.container_flea:hover .middle_flea {
  opacity: 1;
}

.fleaButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }



.random_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.container_random {
  position: relative;
}
.middle_random {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_random:hover .random_image {
  opacity: 0.3;
}

.container_random:hover .middle_random {
  opacity: 1;
}

.randomButton {
  background-color: Navy;
  opacity: .5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  position: relative;
  cursor:pointer;
  text-decoration: none;
  }
 

.Contact-Me {
  text-align: center;
  position: absolute;
  font-family: veronda;
  font-size: 1.75vw;
  top:295%;
  left:8%;
  margin-left: 11%;
  width:70%;
  /*height:300px;*/
  padding:10px;
  opacity:0.75;
}

.Contact-Info {
  font-family: veronda;
  font-size: 1.75vw;
  opacity:0.75;
}




.facebook {
  position:absolute;
  top:325%;
  left:30%;
}
.github {
  position: absolute;
  top:325%;
  left:35%;
}
.linkedin {
  position:absolute;
  top: 325%;
  left:70%;
}
.site {
  position: absolute;
  top:335%;
  left:40%;
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

}

.open_source_code {
  opacity:0.75;
  font-family: veronda;
  font-size: 1.25vw;

  position:absolute;
  top:337.5%;
  left:55%;
}






