

body, html	{
	
	background-repeat: no-repeat;
    height:auto;
    width: 100%;
    background-size: 100% auto;
    background-attachment: fixed;
 
    background-color: Linen;
    
  }

  .my_image	{

  	height: 100%;
  	position: relative;
  	top:0%;
  	width: 100%;

  }

  .Container{
    width: 100%;
    height: auto;
  }
  .vertical_menu {
	text-align: center;
	color: white;
	position: fixed;
	top:0%;
	
    width: 11%; /* Set a width if you like */
    background-color: Navy;
    opacity:0.7;
    height:100%;
}



.vertical_menu a {

	display: inline-block;
	line-height: 2em;
	font-size: 1.25vw; 

    padding: 11%; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    
}

.vertical_menu a:hover {
    background-color: Navy;
    opacity:0.5;
}

.ml1 {
  font-weight: 900;
  font-size: 6vw;
  color: Navy;
  position:absolute;
  margin-left: 11%;
  left:23%;
  top:17%;
  font-family: broadway;

}

.ml1 .letter {
  
  display: inline-block;
  line-height: 50%;

}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 5%;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { 
	top: 0; 
}
.ml1 .line2 { 
	bottom: 0; 
}
	

.slide_and	{

}

.all	{
	position: relative;
}

.slide_show	{
	position : relative;
	
	margin-left: 22%;
	
	width: 65%;
	margin-top: 10%;
	

}


.About-Me	{
	position:relative;
	
	
	
	text-align: center;
	/*margin-right:11%;*/
	margin-left:11%;
	
	
	
	width:80%;
	/*background-color: linen;*/
	opacity:0.75;
}
.about_me_header 	{

font-family: verdona;
font-weight: bold;
text-decoration: underline;
font-size: 3vw;
margin-left:5%;
}

.About-Me-Description	{
	position: relative;
	
    font-family: veronda;
    font-size: 1.75vw;
    left:5%;
}

.w3-left, .w3-right, .w3-badge {
	cursor:pointer;


}
.w3-badge {
	
	
	height: 12px;

}


.rectangle_1	{
	position: absolute;
	
	width: 100%;
	height: 2%;
	background-color: black;
	opacity: 0.5;
}






.Contact-Me	{
	 text-align: center;
  position: relative;
  font-family: veronda;
  font-size: 2vw;
  top:170%;
  left:8%;
  margin-left: 11%;
  width:70%;
  margin-top: 15%;
  padding:10px;
  opacity:0.75;
}

.Contact-Info	{
	font-family: veronda;
	font-size: 1.75vw;
	opacity:0.75;
}




.cont_img_1 	{
	width: 5%;
	
}
.cont_img_2 	{
	width: 15%;
	
}
.github	{
	position: relative;
	top:410%;
	left:35%;
	
}
.linkedin	{
	position:relative;
	top: 410%;
	left:55%;
	
}
.site	{
	position: relative;
	top:420%;
	left:40%;
	opacity:0.75;
	font-family: veronda;
	font-size: 1.25vw;

}

.open_source_code	{
	opacity:0.75;
	font-family: veronda;
	font-size: 1.25vw;

	position:absolute;
	top:99%;
	left:55%;
}






